/* Сделай так, чтоб 4 большие буквы можно было выбирать самостоятельно */
/* Main */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'roboto',sans-serif;
  font-weight: bold;
  overflow: hidden;
}

/* Poster */
.poster {
position: relative;
width: 48%;
z-index: 0;
/* Параметры для рандома */
  background-color: rgb(199, 157, 103);
}

/* Poster items */

.letter-one {
  position: absolute;

   /* Параметры для рандома */
   z-index: 2;
  top: -40%;
  left: -20%;
  font-size: 5000%;
  color: rgb(49, 49, 84);
 
}
.letter-two {
  position: absolute;
  z-index: 2;
   /* Параметры для рандома */
  top: -20%;
  left: 30%;
  font-size: 3000%;
  color: rgb(79, 105, 60);
  
}
.letter-three {
  position: absolute;
   /* Параметры для рандома */
   z-index: 2;
  top: 50%;
  left: -10%;
  font-size: 2000%;
  color: rgb(255, 255, 255);

}
.letter-four {
  position: absolute;
   /* Параметры для рандома */
   z-index: 4;
  top: 10%;
  left: 30%;
  font-size: 6000%;
  color: rgb(101, 67, 36);
}

.texture-text {
  position: absolute;
  min-width: 70%;
  max-width: 70%;
  word-break: break-all;
  font-weight: normal;
  /* Параметры для рандома */
  z-index: 2;
  top: 10%;
  left: 60%;
  color: rgb(32, 53, 53);
  font-size: 8px;
  font-style: italic;
}
.texture-text-two{
  position: absolute;
  min-width: 100%;
  max-width: 100%;
  word-break: break-all;
  font-weight: normal;
  /* Параметры для рандома */
  z-index: 2;
  top: 70%;
  left: 0%;
  color: rgb(32, 53, 53);
  font-size: 12px;
  font-style: italic;
}
.phrase {
  position: absolute;
  z-index: 10;
  font-weight: normal;
  font-style: italic;
  /* Параметры для рандома */
  top: 5%;
  left: 60%;
  color: rgb(255, 255, 255);
  font-size: 20px;


}

/* Правая часть */

.menu {
  position: relative;
  z-index: 14;
  width: 52%;
  height: 100vh;
  background-color: rgb(178, 177, 177);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  padding-left: 7%;
  padding-top:6%;
}
.header {

}
.header-title {
  margin-bottom: 1%;
}
.header-rules {
  margin-left: 2%;
  line-height: 130%;
  font-size: 50%;
  color: rgb(109, 108, 108);
  font-weight: 500;
}

/* Поле настроек */
.settings {
  font-weight: normal;
  margin-top: 4%;
  margin-left: -5%;
  font-size: 50%;
}
th{
  text-align: left;
}
.settings-table {
  border-collapse: separate;
  border-spacing: 2em;
  line-height: 20%;
}

/* Настройка ввода больших букв */

.big-letters-settings{
  list-style-type: none;
  margin-left: 5%;
  margin-top: 3%;
  line-height: 220%;
}
.big-letters-title {
font-weight: 600;
}
.input-big-letters {
}
.big-letters-settings-item {
}

.footer{
margin-top: 20%;
font-size: 50%;
color: grey;
}
.footer-text{

}