/* Main */
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'roboto',sans-serif;
  overflow: hidden;
}

/* Poster */

.poster-background {
  position: relative;
  z-index: 0;
  width: 50%;
  height: 100vh;
  background-color: brown;
}
.poster {
  position: absolute; 
  z-index: 8;
  width: 70%;
  height: 120%;
  background-color: burlywood;

}

/* Poster items */

.poster-items {
}
.letters{
  font-weight: 900;
}
.letter-one {

  line-height: 0px;
  font-size: 500px;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.letter-two {
  position: absolute;
  z-index: 0;
}
.letter-three {
  position: absolute;
  z-index: 0;
}
.letter-four {
  position: absolute;
  z-index: 0;
}
.texture-text {
  position: absolute;
  z-index: 4;
 font-size: 10px;
width: 80%;
word-break: break-all;

}
.phrase {
  position: absolute;
  z-index: 4;
}



.menu {
  position: relative;
  z-index: 6;
  width: 50%;
  height: 100vh;
  background-color: grey;
}
