/* Main */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'roboto',sans-serif;
  overflow: hidden;
}

/* Poster */
.poster {
position: relative;
width: 50%;
z-index: 0;
  background-color: burlywood;

}

/* Poster items */

.letter-one {
  position: absolute;
  font-size: 100px;
  line-height: 1px;
  margin: 0px;
  padding-top: 0px;
  z-index: 10;

}
.letter-two {
  position: absolute;
  z-index: 10;
}
.letter-three {
  position: absolute;
  z-index: 10;
}
.letter-four {
  position: absolute;
  z-index: 10;
}
.texture-text {
  position: absolute;
  z-index: 10;
 font-size: 10px;
width: 80%;
word-break: break-all;

}
.phrase {
  position: absolute;
  z-index: 10;
}



.menu {
  position: relative;
  z-index: 14;
  width: 50%;
  height: 100vh;
  background-color: grey;
}
